<div class="navbar-fixed">
    <nav class="glass-nav">
        <div class="nav-wrapper container">
            
            <a href="#" data-target="mobile-menu" class="sidenav-trigger accent-text">
                <i class="material-icons">menu</i>
            </a>

            <a href="/" class="brand-logo outfit-bold">
                AGILE<span class="text-gradient">WEB</span>
            </a>

            <ul id="desktop-menu" class="desktop-links">
                <li><a href="/#services">Services</a></li>
                <li><a href="/#projects">Projects</a></li>
                <li><a href="/#pricing">Pricing</a></li>
                <li><a href="/#blog">Blog</a></li>
                <li><a href="/#contact" class="nav-cta">Get a Quote</a></li>
                <li><a href="#" id="theme-toggle"><i class="material-icons">light_mode</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav glass-sidenav" id="mobile-menu">
    <li>
        <h4 class="outfit-bold center-align" style="margin-top: 20px; color: var(--text);">
            AGILE<span class="text-gradient">WEB</span>
        </h4>
    </li>
    <li><div class="divider"></div></li>
    <li><a href="/#services"><i class="material-icons">settings</i>Services</a></li>
    <li><a href="/#projects"><i class="material-icons">code</i>Projects</a></li>
    <li><a href="/#pricing"><i class="material-icons">attach_money</i>Pricing</a></li>
    <li><a href="/#blog"><i class="material-icons">rss_feed</i>Blog</a></li>
    <li><a href="/#contact"><i class="material-icons">mail</i>Get Quote</a></li>
    <li><a href="#" id="theme-toggle-mobile"><i class="material-icons">light_mode</i>Switch Theme</a></li>
</ul>
